/* Select all CSS */
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Trirong", serif;
}

/* all link CSS */
a {
  text-decoration: none;
  color: inherit;
}

/* create global variable with :root selector */
:root {
  --header-bg-color: #ffffff;
  --footer-bg-color: #ffffff;
  --body-bg-color: #e3e3e3;
  --input-bg: #f2f2f2;
  --input-bg-focus: #dbdbdb;
  --text-color: #000;
  --light-green: #00ad1d;
  --dark-green: #016034;
  --orange: #d97919;
  --light-orange: #ffaf60;
  --dark-orange: #c26100;
  --x-dark-orange: rgb(157, 42, 1);
  --light-red: rgb(236, 56, 56);
  --white: #fff;
  --light-black: rgb(23, 23, 23);
  --light-blue: #0463ac;
  --dark-blue: #070062;
}

/* error message css */
.error-container {
  text-align: center;
  font-size: large;
  margin: 20px 0;
  overflow-y: hidden;
}

/* about */
.img-fluid {
  padding: 70px;
}

.hero {
  overflow-y: hidden;
}

/* CSS for mobile devices */

@media only screen and (max-width: 1100px) {
  .about-container .about-left h1 {
    font-size: 50px;
  }
  .about-container .about-left h4 {
    font-size: 20px;
  }
  .about-container .about-right img {
    padding-top: 30px;
    width: 400px;
  }
}
@media only screen and (max-width: 880px) {
  .about-container .about-left h1 {
    font-size: 40px;
  }
  .about-container .about-left h4 {
    font-size: 15px;
  }
  .about-container .about-right img {
    padding-top: 30px;
    width: 350px;
  }
  .contact-container {
    overflow-y: hidden;
  }
  .error-page img {
    height: auto;
    width: 80%;
  }
}

@media only screen and (max-width: 650px) {
  .about-container .about-right img {
    width: 300px;
  }
}

@media only screen and (max-width: 470px) {
  .search-container {
    margin: 80px auto 0px;
  }
  .restaurant-menu {
    margin-top: 60px;
  }
  .restaurant-summary {
    height: 230px;
  }
  .about-container {
    height: auto;
  }
}
@media only screen and (max-width: 350px) {
  .search-container {
    margin: 70px auto 0px;
  }
  .restaurant-menu {
    margin-top: 50px;
  }
}