/* Restaurant cards CSS */
.restaurant-list {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .restaurant-list > a {
    text-decoration: unset;
  }
    
  .card {
    width: 240px;
    border-radius: 5px;
    box-shadow: -1px 5px 10px 5px rgba(42, 42, 42, 0.2);
    padding: 10px;
    margin: 20px;
    cursor: pointer;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card > img {
    width: 100%;
    border-radius: 10px;
    height: 200px;
  }
  
  .card > h3 {
    padding-top: 7px;
    font-size: 16px;
    overflow-y: hidden;
    font-weight: 600;
    line-height: normal;
  }
  
  .card > h5 {
    font-weight: lighter;
    padding: 7px 0;
    text-transform: capitalize !important;
    font-size: 13px;
  }

  .card > h5 > b {
    font-weight: bold;
  } 
  
  .card > span {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    text-align: center;
  }
  
  .card > span > h4 {
    font-weight: bolder;
    font-size: 12px;
    padding: 0 2px 0;
    margin-top: 10px;
    overflow-y: hidden;
  }
  
  .card > span > h4:first-child {
    display: flex;
    align-items: center;
    background-color: var(--light-green);
    border-radius: 5px;
    color: white;
    padding: 5px;
    margin-top: 5px;
  }
  
  .card > span > h4:first-child .fa-star {
    font-size: 10px;
    padding: 0 5px 3px 0;
  }
  
  .res-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .search {
    padding: 10px;
  }
  
  .res-logo {
    width: 100%;
    height: 50%;
  }
  
  .filter {
    display: none;
    justify-content: center;
    margin-top: 80px;
    flex-wrap: wrap;
  }
  
  .filter-btn {
    margin: 20px 5px;
    cursor: pointer;
    background-color: white;
    padding: 20px;
    border: 2px solid white;
    border-radius: 50px;
    background-color: rgb(203, 54, 0);
    color: white;
  }
  
  button.filter-btn:hover {
    background-color: black;
    color: white;
  }