/* Restaurant Menu CSS Start */
.restaurant-menu {
  min-height: 80vh;
  width: auto;
  margin-top: 80px;
}
.restaurant-summary {
  display: flex;
  height: 250px;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}
.restaurant-img {
  width: 250px;
  height: 170px;
  border-radius: 5px;
}
.restaurant-summary-details {
  display: flex;
  flex-direction: column;
  flex-basis: 520px;
  margin: 20px;
}
.restaurant-title {
  font-size: 40px;
  max-width: 540px;
  font-weight: 300;
}
.restaurant-tags {
  white-space: nowrap;
  color: inherit;
  opacity: 0.7;
  font-size: 15px;
}
.restaurant-details {
  display: flex;
  margin-top: 18px;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 10px;
  color: inherit;
  font-weight: 600;
  font-size: 16px;
  max-width: 340px;
}
.restaurant-rating {
  display: flex;
  align-items: center;
  padding: 5px 8px;
  gap: 5px;
  background-color: var(--dark-green);
  border-radius: 5px;
}

.overflow {
  overflow-y: hidden;
}

.restaurant-menu-content {
  display: flex;
  justify-content: center;
}

.menu-items-container {
  margin-top: 30px;
  width: 850px;
}
.menu-title-wrap {
  padding: 20px;
}
  
.menu-items-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: rgba(40, 44, 63, 0.45) 0.5px solid;
}
.menu-item-details {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  overflow: hidden;
}

.menu-title {
  font-size: 22px;
  font-weight: bold;
}

.item-title {
  font-size: 20px;
  font-weight: bold;
}
.item-desc {
  margin-top: 5px;
  font-size: 14px;
}
.item-cost {
  margin-top: 4px;
  font-size: 1rem;
  font-weight: 400;
  color: #3e4152;
  width: 40%;
}

.menu-img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  overflow: hidden;
}
.menu-item-img {
  height: 100px;
  width: 100px;
  border-radius: 5px;
}
.add-btn {
  background-color: rgb(203, 54, 0);
  color: white;
  padding: 8px 25px;
  cursor: pointer;
  border-color: rgb(203, 54, 0);
  margin-top: 10px;
  border-radius: 5px;
}

@media only screen and (max-width: 470px) {
  .restaurant-title {
    font-size: 20px;
  }
  .restaurant-img {
    width: 200px;
    height: 150px;
    margin-left: 10px;
  }
  .restaurant-menu {
    margin-top: 60px;
  }
}  